# Configuración de la aplicación

APP_NAME=ChickenBot Delivery
APP_VERSION=1.0.0
DEBUG=True

# Base de datos

DB_HOST=localhost
DB_PORT=5432
DB_NAME=chickenbot
DB_USER=postgres
DB_PASSWORD=password

# Telegram

BOT_TOKEN=TU_TOKEN