# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Alembic
alembic/versions/__pycache__/