{% extends "base.html" %}

{% block content %}

<h2>Panel Administrativo</h2>

<p>Bienvenido {{ admin }}</p>

<hr>

<h3>Estadísticas</h3>

<ul>
    <li>Usuarios: 0</li>
    <li>Productos: 0</li>
    <li>Pedidos: 0</li>
</ul>

<hr>

<h3>Accesos rápidos</h3>

<ul>
    <li>Gestionar Productos</li>
    <li>
        <a href="/categories">
            Gestionar Categorías
        </a>
    </li>
    <li> 
        <a href="/orders"> 
            Gestionar Pedidos   
        </a>
    </li>
    <li>
        <a href="/products">
            Gestionar productos
        </a>
    </li>
</ul>

<hr>

<a href="/logout">
Cerrar sesión
</a>

{% endblock %}